.deals{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 76px;
    margin-bottom: 270px;
    padding: 0 60px;
}

.deals-condition{
    width: 470px;
    margin-right: 15px;
    opacity: 0;
    animation: left 2.5s ease-in-out forwards;
    animation-delay: 1s;
}

.deals-condition p{
    font-size: 31px;
    line-height: 38px;
    color: #222222;
    padding: 24px 0;
}

.deals-condition span{
    display: block;
    height: 1px;
    width: 100%;
    background-color: #273720;;
}

.deals-statistic{
    width: 350px;
    height: 350px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;   
    opacity: 0;
    animation: right-circle 2.5s ease-in-out forwards;
    animation-delay: 1s; 
}

.deals-statistic-circle{
    width: 280px;
    height: 280px;
    border: 25px solid rgb(208, 255, 66);
    border-left: 25px solid rgba(157, 255, 0, 0.2);
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.deals-statistic-circle p {
    margin: 0;
    width: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 18px;
    color: #222222;
}

.deals-statistic-circle span{
    font-size: 80px;
}

@media screen and (max-width: 1024px) {
    .deals{
        flex-direction: column;
        margin-top: 60px;
        margin-bottom: 200px;
        padding: 0 50px;
    }

    .deals-condition{
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 60px;
    }
}

@media screen and (max-width: 768px) {
    .deals{
        flex-direction: column;
        margin-top: 40px;
        margin-bottom: 100px;
        padding: 0 30px;
    }

    .deals-condition{
        width: 100%;
        margin-right: 0;
        text-align: center;
        margin-bottom: 40px;
    }

    .deals-condition p{
        font-size: 22px;
        line-height: 30px;
        color: #222222;
        padding: 24px 0;
    }

    .deals-statistic{
        width: 250px;
        height: 250px;
    }

    .deals-statistic-circle{
        width: 200px;
        height: 200px;
        border: 20px solid rgb(208, 255, 66);
        border-left: 20px solid rgba(157, 255, 0, 0.2);
    }

    .deals-statistic-circle p {
        margin: 0;
        width: 140px;
        position: absolute;
        font-size: 14px;
    }
    
    .deals-statistic-circle span{
        font-size: 60px;
    }
}